
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# Environment
.env

# Reports
reports/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db